@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>
<p>Use this area to provide additional information.</p>

<p>Use this area to provide additional information.</p>
<p>hotfix 커밋 테스트</p>
<p>원격 저장소 파일 수정</p>
<p>Earth on Local repository</p>
<p>Luna on Github 원격 저장소 파일 수정2</p>
